* {
    margin: 0;
    padding: 0;
    font-family: "Comic Sans MS", sans-serif;
}

main {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: url("../img/space.jpg") center no-repeat;
    background-size: 100% 100%;
}

.panel {
    width: 100%;
    height: 100%;
}

.left {
    width: 40%;
    height: 100%;
}

#startGame {
    color: #ffffff;
    background-color: #919eea;
    border-color: #919eea;
}

#restart{
    color: #ffffff;
    background-color: #919eea;
    border-color: #919eea;
}

.main {
    background: linear-gradient(#02042D, #0822aa, #919eea);
    padding: 5vh;
    box-shadow: 0 0 15px 5px rgba(255, 255, 255, 0.51);
    border-radius: 2em;
}

h1 {
    color: rgba(255, 255, 255);
}

h2{
    color: rgba(255, 255, 255);
}

.changeName {
    height:5vh;
}

#game {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.info {
    position: fixed;
    width: 100%;
    height: 8vh;
    z-index: 100;
    font-size: 1.3em;
    background: rgba(255, 255, 255, .9);
}

.elements {
    width: 100%;
    height: 100%;
}

.element {
    position: absolute;
}

.player {
    background: url("../img/player.png") center no-repeat;
    background-size: contain;
}

.asteroid {
    background: url("../img/asteroid.png") center no-repeat;
    background-size: contain;
    animation: rotate infinite .6s linear;
}

.asteroid_fire {
    background: url("../img/asteroid_fire.png") center no-repeat;
    background-size: contain;
    animation: rotate infinite .7s linear;
}

.pause {
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    color: white;
    background-color: rgba(0 0 0 / 0.8);
}

@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}
